body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

input {
    width: 300px;
    margin-bottom: 10px;
}

textarea {
    width: 350px;
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

button {
    padding: 5px;
    background-color: #065090;
    color: #e6ebf6;
    border: none;
    border-radius: 5px;
}

section {
    max-width: 500px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}